<app-header></app-header>

<mat-card class="dashboard_body">

  <input type="checkbox" id="show-menu" role="button">
  <mat-card-content class="dashboard_left" id="menu">


  <app-left></app-left>

  </mat-card-content>

  <mat-card-content class="dashboard_wrapper">
    <!--//////////////////////////////////////////////////////////////////////////////////-->
    <!--//////////////////////////////////////////////////////////////////////////////////-->
    <!--------------------------------admin contain start----------------------------------->
    <!--//////////////////////////////////////////////////////////////////////////////////-->
    <!--//////////////////////////////////////////////////////////////////////////////////-->











    <!--//////////////////////////////////////////////////////////////////////////////////-->
    <!--//////////////////////////////////////////////////////////////////////////////////-->
    <!--------------------------------admin contain end------------------------------------->
    <!--//////////////////////////////////////////////////////////////////////////////////-->
    <!--//////////////////////////////////////////////////////////////////////////////////-->

  </mat-card-content>
  <mat-card class="clear"></mat-card>
</mat-card>

<app-footer></app-footer>